<%- include('../partials/header') %>

<form id="new-form" action="/books" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Finished on:</label>
  <input type="date" name="finishedOn">
  <label>Author:</label>
  <input type="text" name="authorName">
  <label>Author Born:</label>
  <input type="date" name="born">
  <input type="submit" value="Add Book">
</form>

<%- include('../partials/footer') %>